name: Android CI

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Tag Creation
        uses: matthieuEv/Github-Action-Tag@v1
        id: tag-creation


      - name: Build
        if: steps.tag-creation.outputs.makeRelease
        run: echo "Add your build commands here"
      