name: Android CI

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Tag Creation
        uses: matthieuEv/Github-Action-Tag@1
      - name: Build
        if: steps.github-script.outputs.makeRelease
        run: echo "Add your build commands here"
      